*{
  margin: 0;
  padding:0;
  /* box-sizing: border-box; */
}



html{
  font-size: 15px;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
height:200vh ;
width:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url('https://images.unsplash.com/photo-1684635555286-26b91ffe6561?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1540&q=80');
background-position:inherit;
}


.card1 img{
  width:.5rem;
  height: .5rem;
  border-radius:2rem;
  justify-content: flex-start;
}
.card3{
 
}



